@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}

/* =========================
   STAR INTRO BACKGROUND
   ========================= */

.star-bg {
  background:
    radial-gradient(2px 2px at 20% 30%, white, transparent),
    radial-gradient(1px 1px at 70% 60%, white, transparent),
    radial-gradient(1.5px 1.5px at 40% 80%, white, transparent),
    radial-gradient(1px 1px at 90% 20%, white, transparent);
  background-size: 200px 200px;
  animation: moveStars 20s linear infinite;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 1000px;
  }
}